      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link rel="stylesheet" href="./Styles/style.css">
          <title>My Portfolio</title>
        </head>
        <body style="background-color: antiquewhite;">
          <div style="margin: 15px">
            <div>
              <h1 style="display: flex;justify-content: center;margin-bottom: 30px;">My Information in the below :</h1>
              
            <!-- <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/contact.html">Contact</a></li>
                  <li><a href="/about.html">About</a></li>
                  <li><a href="/myBio.html">MyBio</a></li>
                </ul>
              </nav> -->
                <div style="display: flex;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                padding: 5px;
                background-color: #ffffff;
                color: rgb(2, 28, 50);
                border-radius: 0% 50%;
                border: 2px solid rgba(5, 1, 32, 0.947);">
                  <div style="margin-top: -15px;">
                    <u><h2>Md.Amanullah Akon</h2></u>
                  </div>
                  <div style="margin-top: -35px;margin-bottom: -10px;"><h4>Web Designer</h4>
                  </div>
              </div>
              
              <p>
                Assalamualaikum, it’s my pleasure to introduce myself in front of you. Well, I 
                am Md. Amanullah Akon from Dhaka Bangladesh. 
                I am very much interested to start my carrier as an engineer. My strength is selfmotivated and eases to accept new things and hard work. I love to work according 
                to the situation and I love to work with GroupWise also. My weakness is I believe 
                people very easily. I want to Build up a career in a challenging and rewarding 
                position at a winning organization where is located to creativity, sincerity, skill, and 
                performance are the criteria for one’s appraisal and recognition.
              </p>
            </div>
            <div style="height: 10px;background-color: #787801;border-radius: 50% 40%;"></div>
            <!--This Section is Education-->
            
            <div class="media"  style="flex-direction: row; margin: 5px; display: flex">
              <div class="Edu_media" style="flex: 2;" >
                <ul>
                  <u
                    ><li><b>Education:</b></li></u
                  >
                  <div style="margin-top: 8px;
                  border-radius: 20% 0%; 
                  border: 5px solid rgb(136, 78, 78);
                  background-color: rgb(50, 50, 50);
                  color: aliceblue;">
                    <div style="margin: 25px">
                      <u><b>Session:</b></u> 2015-2016<br />
                      Secondary School Certificate,<br />
                      Bhanga Model Pilot High School, Bhanga, Faridpur.<br />
                      <b>GPA:</b>-4.33<br />
                      <u><b>Session:</b></u> 2017-2018<br />
                      Higher Secondary School Certificate,<br />
                      Uttara model College, Dhaka.<br />
                      <b>GPA:</b>-4.08<br />
                      <u><b>Session:</b></u> 2019-2022<br />
                      Computer Science & Engineering,<br />
                      Daffodil International University, Dhaka<br />
                      <b>Average CGPA</b>-3.04
                    </div>
                  </div>
                </ul>
              </div>
              
              <!--This Section is Skills-->
                
              <div style="flex: 2">
                <ul>
                  <u>
                      <li><b>Skills:</b></li>
                  </u>
                  <div style="margin-top: 5px; 
                  margin: 10px;
                  border: 3px solid rgb(5, 5, 5);
                  border-radius: 0% 20%;
                  background-color: bisque;">
                    <div style="margin: 20px">
                      <table>
                        <b>Programming Language:</b>
                        <div style="height: 2px; background-color: black"></div>
                        <p>  C , C++, JavaScript, Node JS, Express JS, Java</p><br>
                        <u><b>Markup Language & Style</b></u>
                        <p> HTML, CSS</p><br>
                        <u><b>Data Base</b></u>
                        <p> Mysql &&  Mongodb</p>
                        <div style="height: 2px; background-color: black"></div>
                      </table>
                      <table>
                        <b>Libraries:</b>
                        <div style="height: 2px; background-color: black"></div>
                        <p>React Native, React.</p>
                      </table>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <div style="height: 10px;background-color: #130178;border-radius: 50% 40%;"></div>
            <!--This Section is Project-->
            
            <div style="height: 40px"></div>
            <b>Project:-</b>
            <div style="height: 2px; background-color: black; width: 70%"></div>
            <ol>
              <li>Newspaper for Daffodil International University(daily-daffodil). 
                <a href=" https://github.com/amandiu/daily-daffodil">GitHub Link:</a></li>
              <li>Automatic Busmanagemant System for Daffodil Bus (AB-MS & Bus-23).
                <a href="https://github.com/amandiu/Bus23">GitHub Link:</a>
              </li>
              <li>SMIRA CLUB FOR BOOKING HOTELS AND DEALS (App & Web Application Front End Developer).
                <a href="https://smira.club/">Link</a>
              </li>
            </ol>
          
            <!--This Section is Contact-->
          <br>
            <div style="height: 10px;background-color: #780101;border-radius: 40% 40%;"></div>
            <b>Contact:-</b>
            <div style="height: 2px; background-color: black; width: 70%"></div>
                  <div style="justify-content: center;align-items: center;background-color: rgb(34, 39, 77);color: #ffffff;display: flex;flex-direction: row;margin: 15px;border: 4px solid #780101;
                  border-radius: 20% 0%;">
                      <div style="flex: 2;margin: 10px;margin-left: 20px;">
                          <b>Phone:</b>
                          <a>01740542888</a><br><br>
                          <b>WEBSITE :</b> <a href="https://amanullah.web.app/">https://amanullah.web.app/</a><br><br>
                          <b>Email:</b>
                          <a>amanullah15-2447@diu.edu.bd</a><br>
                      </div>
                  <div style="height: 100px;width: 2px;background-color: black;margin-top: 1.5%;"></div>
                  <div style=" flex: 2;margin: 10px;margin-left: 20px;">
                          <b>GitHub :</b><br>
                          <a href="https://github.com/amandiu">https://github.com/amandiu</a><br><br>
                        
                          <!--This Section is Hobbies-->
                        
                          <b>Hobbies:</b><br>
                          <ul>
                              <li>Travelling</li>
                              <li>Swimming</li>
                              <li>Mountain Hiking</li>
                          </ul>
                    </div>
                </div>
                <div style="height: 20px;background-color: antiquewhite;"></div>
        </body>
      </html>
